@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  padding: 0;
  
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;  /* Hide scrollbar in Webkit browsers (Chrome, Safari) */
}

.custom-scrollbar {
  -ms-overflow-style: none;  /* Hide scrollbar in IE/Edge */
  scrollbar-width: none;     /* Hide scrollbar in Firefox */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
